<section class="main-content">
<% if logged_in? %>
    <div class="text-center intro">
        <h1 class="jap">プロテイン</h1>
        <p class="tag">- purotein -<p>
        <p>Welcome to Purotein, an app that help you find the best protein snack!<br/>
        Sign up to build up your favourite list!</p>
    </div>
    
    <hr/>
<% else %>
        <div class="text-center intro">

        <h1 class="jap">プロテイン</h1>
        <p class="tag">- purotein -<p>
        <p>Welcome to Purotein, an app that help you find the best protein snack!<br/>
        Sign up to build up your favourite list!</p>

        <%= link_to "Log in", '/login', class: "btn btn-primary" %>
        <%= link_to "Sign up", '/signup', class: "btn btn-primary" %>

    </div>
    <hr/>
    <% end %>
    <section class="product-main">
    <%= render :partial => 'products/product_list' %>
</section>


</div>
<section>