<section class="main-content">
<div class="text-center">

<h1>Purotein</h1>
<p>Welcome to Purotein, an app that help you find the best protein snack!<br/>
Sign up to build up your favourite list!</p>

<%= link_to "Log in", '#', class: "btn btn-lg btn-primary" %>
<%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>

</div>
<section>